*
!.gitignore
!*.v
!*.vt
!*.bdf
!*.bsf
!*.csv
!*.qsf
!*.qpf
!*.logicdata
!1WIRE/*.v
!1WIRE/*.vt
!1WIRE/*.bdf
!1WIRE/*.bsf
!1WIRE/*.csv
!1WIRE/*.qsf
!1WIRE/*.qpf
!1WIRE/*.logicdata
!I2C/*.v
!I2C/*.vt
!I2C/*.bdf
!I2C/*.bsf
!I2C/*.csv
!I2C/*.qsf
!I2C/*.qpf
!I2C/*.logicdata
!RS232/*.v
!RS232/*.vt
!RS232/*.bdf
!RS232/*.bsf
!RS232/*.csv
!RS232/*.qsf
!RS232/*.qpf
!RS232/*.logicdata
!MAIN/BMP180/*.v
!MAIN/BMP180/*.vt
!MAIN/BMP180/*.bdf
!MAIN/BMP180/*.bsf
!MAIN/BMP180/*.csv
!MAIN/BMP180/*.qsf
!MAIN/BMP180/*.qpf
!MAIN/BMP180/*.logicdata
!MAIN/DEBOUNCE/*.v
!MAIN/DEBOUNCE/*.vt
!MAIN/DEBOUNCE/*.bdf
!MAIN/DEBOUNCE/*.bsf
!MAIN/DEBOUNCE/*.csv
!MAIN/DEBOUNCE/*.qsf
!MAIN/DEBOUNCE/*.qpf
!MAIN/DEBOUNCE/*.logicdata
!MAIN/DEBOUNCE_SINGLE/*.v
!MAIN/DEBOUNCE_SINGLE/*.vt
!MAIN/DEBOUNCE_SINGLE/*.bdf
!MAIN/DEBOUNCE_SINGLE/*.bsf
!MAIN/DEBOUNCE_SINGLE/*.csv
!MAIN/DEBOUNCE_SINGLE/*.qsf
!MAIN/DEBOUNCE_SINGLE/*.qpf
!MAIN/DEBOUNCE_SINGLE/*.logicdata
!MAIN/I2C_BMP180/*.v
!MAIN/I2C_BMP180/*.vt
!MAIN/I2C_BMP180/*.bdf
!MAIN/I2C_BMP180/*.bsf
!MAIN/I2C_BMP180/*.csv
!MAIN/I2C_BMP180/*.qsf
!MAIN/I2C_BMP180/*.qpf
!MAIN/I2C_BMP180/*.logicdata
!MAIN/I2C_BMP180_SLAVE/*.v
!MAIN/I2C_BMP180_SLAVE/*.vt
!MAIN/I2C_BMP180_SLAVE/*.bdf
!MAIN/I2C_BMP180_SLAVE/*.bsf
!MAIN/I2C_BMP180_SLAVE/*.csv
!MAIN/I2C_BMP180_SLAVE/*.qsf
!MAIN/I2C_BMP180_SLAVE/*.qpf
!MAIN/I2C_BMP180_SLAVE/*.logicdata



